<div class="container">
    <div class="row">
        <div class="col">
            <div class="border-left bg-light">
                <div class="p-3">
                    <h3>{{{post.title}}}</h3>
                   <p class="card-text"><small class="text-muted">Created by <a href="/profile/{{sid}}" class="text-dark">{{post.author}}</a>,
                            <time class="time" title="{{post.date_create}}"></time>{{#if post.date_last_edit}}. Last edit: <time class="time" title="{{{post.date_last_edit}}}"></time>{{/if}}
                        </small></p>
                    <p>{{post.description}}</p>
                </div>
            </div>
            {{> postbuttons}}
            <div id="render-skill-pane">
                {{> (whichPartial)}}
            </div>
            <button type="button" class="btn btn-info btn-sm mt-3" data-toggle="modal" id="cmLauncher" data-target="#canvasModal">Save
                as PNG</button>

            <button class="btn btn-dark btn-sm d-block mt-5">Comments <span class="badge badge-light">soon</span></button>
        </div>
    </div>
    <div class="d-flex w-100">
        <a class="btn btn-dark btn-sm ml-auto" id="return-to-top" style="color: #fff; position: fixed; right: 10%; bottom: 10%; display: none;"><span
                class="mdi mdi-arrow-up"></span></a>
    </div>
</div>
<!-- Modal Image -->
<div class="modal fade" id="canvasModal" tabindex="-1" role="dialog" aria-labelledby="canvasModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="canvasModalLabel">Save build: {{post.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <strong>Right click</strong> > <strong>Save image as...</strong>
                </div>
                <div id="renderedCanvas">
                    <p class="text-success">Processing image</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

{{> modals/deletemodal}}
{{> modals/reportmodal}}
<script>
    var viewMode = true;
    var buildTemplate = {{{ JSONstringify class}}}
    var build = {{{ post.data_object }}}
    var class_type = "{{{ post.type }}}"
</script>
<script src="/js/skillviewer.js"></script>
<script src="/js/voting.js"></script>