<div class="container">
    <div class="row">
        <div class="col">
            <div class="border-left bg-light">
                <div class="p-3">
                    <h3>{{{guide.title}}}</h3>
                    <p class="card-text"><small class="text-muted">By {{guide.author}}, 3 mins ago</small></p>
                    <p>{{guide.description}}</p>
                </div>
            </div>
            <div class="my-3 d-flex justify-content-end">
                <div class="btn-group mr-1" role="group">
                    <button class="btn btn-success btn-sm"><span class="mdi mdi-pencil"></span></button>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletePostModal"><span
                            class="mdi mdi-delete"></span></button>
                </div>
                <div class="btn-group" role="group">
                    {{#if user}}
                    {{#if vote}}
                    <button class="btnvote btn btn-danger btn-sm" data-type="down" data-post="guide" data-postid="{{guide._id}}"><span
                            class="mdi mdi-thumb-down"></span></button>
                    {{else}}
                    <button class="btnvote btn btn-success btn-sm" data-type="up" data-post="guide" data-postid="{{guide._id}}"><span
                            class="mdi mdi-thumb-up"></span></button>
                    {{/if}}
                    {{else}}
                    <button class="loginbtn btn btn-success btn-sm"><span class="mdi mdi-thumb-up"></span></button>
                    {{/if}}
                    <button class="btn btn-danger btn-sm"><span class="mdi mdi-alert-circle"></span></button>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">

                    <div id="guide-content">
                        {{#markdown}}{{{guide.content}}}{{/markdown}}
                    </div>
                </div>
            </div>
            <p>Tags: {{#each (JSONparse guide.tags) }} <a href="/search/{{vale}}">{{value}}</a>&nbsp;{{/each}}</p>
            <button class="btn btn-dark btn-sm">Comments <span class="badge badge-light">soon</span></button>
        </div>
    </div>
    <div class="d-flex w-100">
        <a class="btn btn-dark btn-sm ml-auto" id="return-to-top" style="color: #fff; position: fixed; right: 10%; bottom: 10%; display: none;"><span
                class="mdi mdi-arrow-up"></span></a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePostModalTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-danger">
                <p>We will literally delete your post from our database. There will be no way to recover it in the
                    future!</p>
                <div id="status"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="cancelbtn">Cancel</button>
                <form id="delete-guide">
                    <input type="hidden" name="postid" value="{{guide._id}}">
                    <input type="hidden" name="postsid" value="{{guide.sid}}">
                    <button type="submit" class="btn btn-danger btn-sm" id="delbtn">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(window).scroll(() => {
        if ($(this).scrollTop() >= (100)) {
            $('#return-to-top').fadeIn(200);
        } else {
            $('#return-to-top').fadeOut(200);
        }
    });
    $('#return-to-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500);
    });
    $(document).ready(() => {
        if ($("table").length) {
            $("table").each((index, value) => {
                $(value).before("<div id='table-responsive-" + index + "' class='table-responsive'></div>")
                    .prependTo($("#table-responsive-" + index))
                    .addClass('table table-bordered');
            })
        }
    });

</script>
<script src="/js/delete-guide.js"></script>
<script src="/js/voting.js"></script>